
// Colors
$white: #fff;
$color-text: #777;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-hover: lighten($color-primary, 15%);

$bg-theme: #927bc1;

// Buttons
$btn-def: lighten($color-secondary, 10%);
$btn-err: lighten(#e4757a, 10%);
$btn-info: lighten(#927bc1, 10%);
$btn-suc: lighten(#63cc82, 10%);
$btn-warn: lighten(#fd7856, 10%);

//Fonts
$font-stack-primary: 'Lato', sans-serif;

$font-weight-lgt: 300;
$font-weight-bld: 700;

// Media Queries
$breakpoint: 768px;