/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    @include img($mgt:10px, $mxw:100%);
    max-height: 100%;
  }
  &-frame {
    @include img($mgt:10px, $mxw:100%);
    padding: 13px;
    border: 1px solid #ccc;
  }
  &-logo {
    @include img;
  }
}